.venv
.idea/
.vscode/
**__pycache__**/
.DS_Store
uv.lock
CLAUDE.md

data/*.mp4
data/*.png
data/*.jpg
data/*.tif
data/*.JPG
data/*.TIF
data/*/
.env

results/**/data
results/**/images

**.venv**
**venv**
logs/

model_best.pkl
model_final.pkl
model_finetuned.pkl
validation_result.png
